@import url(../../index.css);

/* headder */
.activityHeadder{
    padding-top: 30px;
    font-size: 40px;
}


/* Form */
.activitiesForm{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
form input::placeholder{
    font-size: small;
}
.timeStampContainer>p,.tagsContainer{
    width: 350px;
}
.activitiesForm input,.activitiesForm select{
    width: 350px;
    height: 30px;
    border: 1px solid var(--blue);
    border-radius: 5px;
}
.activitiesForm input{
    padding-left: 5px;
}
.titleContainer>p,.descriptionContainer>p,.timeStampContainer>p,.dueDateContainer>p,.tagContainer>p,.statusContainer>p{
    margin: 20px 0px 4px 0px;
}
.dueDateContainer input,select{
    cursor: pointer;
}
.tagsContainer{
    display: flex;
    flex-wrap: wrap;
}
.tagContainer input{
    margin: 10px 0 0 0;
}
.tagContainer .errorFound{
    margin-bottom: 10px;
}


/* Errors */
.errorFound{
    width: 350px;
    padding: 3px;
    color: var(--red);
    border-radius: 5px;
}


/* Buttons */
.activityFormButtons{
    width: 350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.delete{
    background-color: var(--red);
    color: white;
    border: 1px solid;
    border-radius: 8px;
    width: 80px;
    cursor: pointer;
}
