@import url(../../index.css);


/* header */
header{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}


/* Tool Bar */
.toolBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
.toolBar a,.edit a,.delete span{
    color: white;
}
.toolBar input{
    width: 400px;
    border-color: var(--blue)
}


/* Table */
.tableContainer,.toolBar{
    width: 90%;
    margin: auto;
}
tr,th div {
    text-align: center;
}
.edit{
    background-color: var(--blue);
    color: white;
    border: 1px solid;
    border-radius: 8px;
    width: 80px;
    cursor: pointer;
}
